@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 23 23 23;
}

.dark {
  --background: 10 10 10;
  --foreground: 237 237 237;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-geist-sans), Arial, sans-serif;
  }

  .font-oldStandard {
    font-family: var(--font-old-standard), serif;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}